.board { /*select class with .*/
    display: grid;
    grid-template-columns: repeat(3, auto);
    width: 300px;
    margin: 100px auto;
}

.squares {
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid #000000;
    box-shadow: 0 0 0 1px #000000;
    text-align: center;
    font-size: 60px;
}

#playerStatus { /*select id with #*/
    text-align: center;
    font-size: 60px;
}

#resetButton {
    margin: auto;
    display: grid;
}
